*.iml
.gradle
.idea/
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
venv
release/
report.xml
utils.cpython-36.pyc
org.eclipse.buildship.core.prefs
.project
.classpath
keystore.jks
app/keystore.jks
